.header {
  background-color: #BF0C0C;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FEDD00;
}

h1 {
  margin: 0;
  color: #fff;
}

.login {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  margin-top: 8%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.inputClass{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

label {
  margin-right: 10px;
}

.signup {
  text-align: center;
}

.signup a {
  color: #007bff;
  text-decoration: none;
}

button {
  background-color: #BF0C0C;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.footer {
  background-color: #BF0C0C;
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.frgPss {
  margin-left: 15px;
  color: #007bff;
  cursor: pointer;
}

.cadastro {
  color: #007bff;
  cursor: pointer;
}
