<body>
<header>
  <h1>Dogs House</h1>
</header>
<div class="card">
  <h2 class="log">Login</h2>
  <form id="formularioLogin">

          <label for="username">User:</label>
          <input type="text" id="username" required>

          <label for="password">Password:</label>
          <input type="password" id="password" required>

      <button type="button" id="login" class="sumbit" (click)="onSubmit()">Login</button>
  </form>
  <!-- <div class="opcoes">
      <button type="button" id="recover" onclick="recuperarSenha()">Recuperar Senha</button>
      <input type="checkbox" id="remember">
      <label for="remember">Lembrar-me</label><br>
      <button id="cadastrar" class="cadastrar">Cadastrar</button>
  </div> -->
</div>
</body>
<footer>
  <p>Matheus Gamba de Oliveira - Vinicius Estrazulas Mattos</p>
</footer>
