header {
  background-color: #BF0C0C;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer{
  font-size: large;
  background-color: #BF0C0C;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 10px;
}

.cardapio{
  padding-top: 60px;
  text-align: center;
}
.formulario{
  text-align: center;
  font-size: x-large;
}
.sobre{
  margin-top: 75px;
  font-size: 20px;
  text-align: center;
}
.usuario{
  cursor: default;
  font-size: larger;
  padding-right: 100px;
}
.menu{
  padding-right: 100px;
  font-size: x-large;
  text-align: center;
  color: white;
  text-decoration: underline;
}

/*Formulario*/

.custom-card {
  background-color: #fbe4d9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin-top: 35px;
  margin-left: 35%;
}

.custom-form-field {
  margin-bottom: 10px;
}

input {
  width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-btn {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-left: 63%;
}

.custom-btn:hover {
  background-color: #0056b3;
}

/*Cardapio*/

#lanches-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.lanche-item {
  margin-bottom: 30px;
}

.card {
  width: 100%;
  background-color: #fbe4d9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 42px;
}

.imagem {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-content {
  padding: 20px;
}

.nome {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.descricao {
  font-size: 1.2rem;
}

.preco, .peso {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.btn {
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
}

.btn-container {
  margin-left: 55%;
  display: flex;
  gap: 10px;
}

.btn:hover {
  background-color: #a09e9e;
}
