<body>
    <header>
        <h1 class="cursor" onclick="resetar()" style="padding-left: 60px;">Dogs House</h1>
        <nav >
                <a href="#" class="menu" onclick="scrollToSection('cardapio')">Cardápio</a>
                <a href="#" class="menu" onclick="scrollToSection('sobre')">Sobre</a>
        </nav>
        <span id="username" class="usuario"></span>
    </header>

    <div id="form-container" class="formulario">
        <h2>Adicionar Lanche</h2>
        <form id="lanches-form">
            <label for="nome">Nome do Lanche:</label><br>
            <input type="text" id="nome"><br>
            <label for="descricao">Descrição:</label><br>
            <input id="descricao"><br>
            <label for="preco">Preço:</label><br>
            <input type="text" id="preco"><br>
            <button type="submit">Adicionar Lanche</button>
        </form>
    </div>

    <h1 id="cardapio" class="cardapio">Cardápio de Lanches</h1>
    <div id="lanches-container">
        <ul id="lanches-list">
            <!--Lanches-->
        </ul>
    </div>

    <div id="sobre" class="sobre">
        <h1>Sobre</h1>
        <p>O site dogs house oferece a maior variedade de dogs, acompanhamentos e bebidas do mercado com os melhores preços!</p>
        <img src="DOGSHOUSE.jpg" alt="dogs house" height="300px" width="300px">
    </div>
    <footer>Vinícius Estrázulas Mattos - Matheus Gamba de Oliveira</footer>
</body>
