body {
  margin: 0;
  padding: 0;
  background-color: #fae2a1;
}

header {
  background-color: rgba(132, 23, 23, 0.755);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer{
  font-size: large;
  background-color: rgba(132, 23, 23, 0.755);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: var(--screen-width);
  height: 50px;
  flex: none;
  align-self:stretch;
  flex-grow: 0;
}

.cardapio{
  padding-top: 60px;
  text-align: center;
}
.formulario{
  text-align: center;
  font-size: x-large;
}
.sobre{
  margin-top: 75px;
  font-size: 20px;
  text-align: center;
}
.usuario{
  cursor: default;
  font-size: larger;
  padding-right: 100px;
}
.menu{
  padding-right: 100px;
  font-size: x-large;
  text-align: center;
  color: white;
}


#lanches-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.lanche-item {
  width: 400px;
  padding: 40px;
  background-color: rgba(132, 23, 23, 0.755);
  border: 1px solid #ccc;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: xx-large;
}

.lanche-item > * {
  margin-bottom: 20px;
  font-size: xx-large;
}

.btn-container {
  display: flex;
  gap: 10px;
}

.btn-container button {
  font-size: 20px;
  padding: 10px 20px;
}
